.navlogin{
    margin-left: auto;
}
header{
    
    padding-right: 12px;
}
.headtext{
    margin-left: 3%px;
}
.navbarc{
    padding: 20px;
}
.headercontent{
    margin-left: 15%;
    padding-top: 80px;
}
.headerimage{
    width: 90%;
}
.nav-item{
    margin: 10px;
}
.headercontent p{
   margin-top: 20px;
   margin-right: 40px;
}
.brand{
    font-size: 3rem;
}
.top {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    left: 0;
    top: 0;
    background-color: #C4D70F;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}
.carouselprev{
  background-color: black;
    top: 104%;
    position: absolute;
    right: 53%;
    border-radius: 100%;
    border: #FFFFFF;
    width: 50px;
    height: 50px;
}
.carouselNext{ background-color: black;
    top: 104%;
    position: absolute;
    right: 49%;
    border-radius: 100%;
    border:#ffffff;
    width: 50px;
    height: 50px;
}
.carousel {
    position: absolute;

}
#carouselExampleIndicators{
    top: 110px;
}
.readbtn{
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
}
.carouselIndicator {
    width: 30px;
    height: 30px;
    border-radius: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      
        display: flex;
      
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
}
.cardSection{
    padding-top: 300px;
    text-align: center;
    background-color: #F5FAFC;
    padding-right: 20px;
}
.aboutCard{
    background-color: white;
    margin-left: 30px;
    padding-top: 40px;
    margin-bottom: 100px;
}
.cards{
    padding: 4% 10%;
}
.imgcard{
    padding-bottom: 30px;
}
.cardbtn{
    padding-top: 90px;
    background-color: #F5FAFC;
}
.cardtittle{
    padding: 20px;
}
.cardbutton{
        border-radius: 67px;
        text-decoration: none;
        color: #ABFF00;
        border-style: solid;
        padding: 4px 20px;
}
.cardbutton:hover{
    background-color: #ABFF00;
    color: white;
    border-color: #ABFF00;
}
.portfolioSection{
    text-align: center;
    background-color: #FFFFFF;
}
.portfoliocontent{
    padding: 50px;
}
.portfolioImgs{
    padding: 20px 10%;
}
.img-port{
    padding: 10px;
}
.navbar-brand{
  font-family:sans-serif;
}
.portfolio_section {
  text-align: center;
}

.portfolio_section .row>div {
  margin: 20px 0;

}

.portfolio_img-box img {
  width: 100%;
  height: max-content;
}
.navbarc{
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}
.team_section {
  text-align: center;
}

.team_card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #9be604;
}

.team_card {
  width: 250px;
  padding: 0 15px;
  margin: 35px 0;
}

.team_card h5 {
  text-transform: uppercase;
}

.team_card img {
  width: 100%;
}

.team_detail-box {
  width: 150px;
  margin: 35px auto 0 auto;
}

.team_social {
  display: flex;
  justify-content: space-between;
}

.team_follow h6 {
  color: #9be604;
}
.navbar-brand{
  font-family:sans-serif;
}
.form-section-title {
  padding-top: 10%;
  text-align: center;
}
.dont-hesitate {
  color: #787877;;
}
.label-length {
  width: 75%;
  height: 40px;
}
.textarea-height {
  height: 200px;
  width: 75%;
  border-color:#787877 ;
}
.labels-padding {
  padding-top: 5%;
}
.send-button {
  display: inline-block;
  padding: 9px 35px;
  border: 2px solid #fefeff;
  color: #fefeff;
  border-radius: 35px;
  background-color: #a0e711;
  margin-top: 20px;
}
.text-dark{
  font-size:40px;
}